<div class="ui inverted vertical footer segment" style="margin-top: 2%;">
    <div class="ui center aligned container">
        <img src="https://upload-icon.s3.us-east-2.amazonaws.com/uploads/icons/png/14959074241551942826-512.png" class="ui centered mini image">
        <div class="ui horizontal inverted small divided link list">
            <a class="item" href="#">Site Map</a>
            <a class="item" href="#">Contact Us</a>
            <a class="item" href="#">Terms and Conditions</a>
            <a class="item" href="#">Privacy Policy</a>
        </div>
    </div>
</div>
</body>

</html>