<%- include("../paritals/header")%>

<div class="ui main text container segment">
    <div class="ui huge header">New Post</div>
    <form class="ui form" action="/blogs" method="POST" enctype="multipart/form-data">
        <div class="field">
            <label>Title</label>
            <input type="text" name="blog[title]">
        </div>
        <div class="field">
            <label>Image</label>
            <input type="file" name="blog[img]">
        </div>
        <div class="field">
            <label>Post Content</label>
            <textarea name="blog[body]"></textarea>
        </div>
        <button class="ui big violet basic button">Create Post</button>
    </form>
</div>
<%- include("../paritals/footer")%>